@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif
}

/* common style */
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    background: #FF900E;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
}

.text-primary {
    color:  #727272;


}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-content h1 {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-content p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-img img {
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding: 0 70px;
}

.teams-container .teams-content h3 {
    font-size: 45px;

}

.teams-container .teams-content p {
    color: #727272;
    font-size: 16px;
    width: 500px;

}

.teams-container .teams-content #quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-container .teams-content #features {
    color: #FF900E;
    font-weight: 700;
}

/* facts */
.facts h2{
    color:#131313;
    font-size: 45;
    font-weight: 700;
}
.facts p{
width: 500px;
font-size: 16px;
font-weight:400px;
}
.fact-container{
    margin:50px;
    
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:  30px;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container h2 {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}
.facts-card-container p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;

}